* {
  font-family: 'Good Matcha';
  background-color: rgba(255, 238, 173, 1);
}

body {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: rgba(255, 238, 173, 1);
}

.inicialPg {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.inicialPg h1,
h2,
.senha {
  color: rgb(0, 0, 0);
  padding: 0;
  margin: 0 0 0 0;
  background-color: transparent;
}



.senha {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  align-items: center;
  font-size: 120%;
}

#senha {
  border: black 1px solid;
  width: 70%;
  height: 3rem;
  background-color: rgba(255, 204, 92, 1);
  font-size: 1.3rem;
  border-radius: 10px;

}

.senha div {
  display: flex;
  gap: 8%;
}

#entrar {
  width: 20%;
  height: 3.2rem;
  border-radius: 10px;
}

.inicialPg h2 {
  font-size: 1rem;
  font-weight: 400;
  color: rgba(255, 204, 92, 1);
}

.hidden {
  display: none;
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}

.rectangle-11 {
  position: absolute;
  width: 100%;
  height: 60%;
  background: linear-gradient(180deg, #FFEEAD 0%, #96CEB4 40.49%);
  bottom: 0;
}

.limite-foto {
  height: 20%;
}

.foto {
  position: absolute;
  top: 5rem;
  height: 22%;
  width: auto;
  left: 50%;
  transform: translateX(-50%);
  background-color: transparent;
}

.sections {
  position: relative;
  gap: 4rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 12rem;
  background-color: transparent;
  height: 100%;

}

.section1,
.section2 {
  background-color: transparent;
  padding: 0;
  margin: 0;
  width: 80%;
  height: auto;
}

.rectangle-11,
.foto,
.section1,
.section2 {
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}


.rectangle-11.show,
.foto.show,
.section1.show,
.section2.show {
  opacity: 1;
}

dialog {
  z-index: 1;
  width: 80%;
  height: 65%;
  background-color: rgba(255, 204, 92, 1);
  border: none;
  border-radius: 2rem;
  overflow: auto
}

#close,
#close2 {
  position: fixed;
  background-color: transparent;
  border: none;
  padding: 1rem 0 0 1rem;
}

#close img,
#close2 img {
  width: 1.5rem;
  height: auto;
  background-color: transparent;
  padding: 0 0 1rem 0;
}

.dialog-content {
  background-color: transparent;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  gap: 0.5rem;
}

.dialog-content div {
  border: rgb(0, 0, 0) 1px solid;
  border-radius: 10px;
}

.dialog-content div,
.dialog-content h1,
.dialog-content audio {
  background-color: transparent;
  padding: 0.2rem 0 0;
}

.dialog-content h1 {
  font-size: 1.5rem;
  color: black;
}

.dialog-content audio {
  width: 80%;
  padding: 0 0 2rem 0;
}

.especial {
  background-color: rgba(255, 111, 105, 1) !important;
}

.especial h1 {
  color: white;
  font-weight: 500;
}

body.dialog-open::before {
  content: '';
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  backdrop-filter: blur(10px);
  background-color: rgb(0, 0, 0, 0.5);
  z-index: 1;
}

.input-error {
  border: 2px solid red !important;
}

.texto {
  font-size: 1.3rem;
  color: black;
  text-align: left;
  padding: 15% 3%;
  background-color: transparent;
  font-family: 'Times New Roman', Times, serif;
}

@media (max-width: 600px) {
  .inicialPg h1 {
    font-size: 3rem;
  }

  .senha {
    font-size: 1.2rem;
  }

  #senha {
    width: 90%;
  }

  .foto {
    height: auto;
    max-width: 70%;
  }
}